<!-- app/templates/edit_paper.html -->
{% extends "base.html" %}

{% block title %}Edit Paper{% endblock %}

{% block content %}
    <h2>Edit Paper</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.id.label }}<br>
            {{ form.id() }}
        </p>
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=64) }}
        </p>
        <p>
            {{ form.source.label }}<br>
            {{ form.source(size=64) }}
        </p>
        <p>
            {{ form.year.label }}<br>
            {{ form.year() }}
        </p>
        <p>
            {{ form.type.label }}<br>
            {{ form.type() }}
        </p>
        <p>
            {{ form.level.label }}<br>
            {{ form.level() }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
