<!-- app/templates/edit_course.html -->
{% extends "base.html" %}

{% block title %}Edit Course{% endblock %}

{% block content %}
    <h2>Edit Course</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.id.label }}<br>
            {{ form.id(size=64) }}
        </p>
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=64) }}
        </p>
        <p>
            {{ form.hours.label }}<br>
            {{ form.hours() }}
        </p>
        <p>
            {{ form.nature.label }}<br>
            {{ form.nature() }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
