<!-- app/templates/papers.html -->
{% extends "base.html" %}

{% block title %}Papers{% endblock %}

{% block content %}
    <h2>Manage Papers</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=64) }}
        </p>
        <p>
            {{ form.source.label }}<br>
            {{ form.source(size=64) }}
        </p>
        <p>
            {{ form.year.label }}<br>
            {{ form.year() }}
        </p>
        <p>
            {{ form.type.label }}<br>
            {{ form.type() }}
        </p>
        <p>
            {{ form.level.label }}<br>
            {{ form.level() }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <h3>Existing Papers</h3>
    <ul>
        {% for paper in papers %}
            <li>{{ paper.title }} - {{ paper.source }} - {{ paper.year.strftime('%Y') }}</li>
        {% endfor %}
    </ul>
{% endblock %}
